<div class="container">
    <div class="main text-center mt-5">
        <p class="heading">لوحة تحكم  اللاعب</p>    
    </div>
    <div class="container2 mt-4 d-flex justify-content-center">
        <div class="row g-0">
            <!-------------------------border-right-->
            <div class="col-md-6 ">
                <a href="#">
                    <div class="cards">
                        <div class="third bg-white p-4 text-center">
                            <img src="https://img.icons8.com/color/96/000000/terms-and-conditions.png"/>
                            <h1></h1>
                            <h1>عقودي</h1>
                        </div>
                    </div>
                </a>
            </div>
            
            
    <!------------------------------------------------------->
    <div class="col-md-6 ">
        <a href="#">
            <div class="cards">
                <div class="third bg-white p-4 text-center">
                    <img src="https://img.icons8.com/color/96/000000/appointment-reminders--v1.png"/>
                    <h1></h1>
                    <h1>عرض الإشعارات</h1>
                </div>
            </div>
        </a>
    </div>
    
    
    <!----------------------------------->
    <div class="col-md-6 ">
        <a href="#">
            <div class="cards">
                <div class="third bg-white p-4 text-center">
                    <img src="https://img.icons8.com/color/96/000000/align-cell-content-left.png"/>
                    <h1></h1>
                    <h1>الإعلانات</h1>
                </div>
            </div>
        </a>
    </div>
    
    
      <!------------------------------------------------------->
    <!------------------------------------------------------->
    <div class="col-md-6 ">
        <a class="nav-link" routerLink="/change-pass">
            <div class="cards">
                <div class="third bg-white p-4 text-center">
                    <img src="https://img.icons8.com/color/96/000000/lock--v1.png"/>
                    <h1></h1>
                    <h1>تغيير كلمة المرور</h1>
                </div>
            </div>
        </a>
    </div>
      
    
      <!------------------------------------------------------->
    <!------------------------------------------------------->
    
    
      
      <!------------------------------------------------------->
      <!---------------------------------------------------->
          <!---------------div end----------------------> 
        </div>
    </div>
    <br><br><br>
    </div>