
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200&display=swap');

.container2
{
    margin: 0 auto;
    
    
    
}
.container
{
    
    display:inline-block;
    justify-content: center;
    align-items: center;   
    height: fit-content;
    background-image: url(../../../assets/m.jpg);
    background-size: cover;
    max-width:100%;


    
       
}
*
 {
    
    font-family: 'Tajawal', sans-serif;
}
h1
{
    font-size: 25px;
    font-weight: bolder;
    color:black;
    font-family: 'Tajawal', sans-serif;
   
}
.heading{
    font-size: 55px;
    font-weight: bolder;
    color:white;
padding-top: 2rem;
    /*border:#000 solid 2px;*/
}

.line1 {
    color: #000;
    font-size: 12px
}

.line2 {
    color: #000;
    font-size: 12px
}

.line3 {
    color: #000;
    font-size: 12px
}

.cards {
    transition: all 0.2s ease;
    cursor: pointer;
    margin-top: 1rem;
    
    
}

.cards:hover {
    box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.1)
}
.btn
{
    margin:0.5rem;
    font-size: 18px;
    font-weight: 800;
}
p
{
    margin-bottom: 3rem;
}