<footer class="footer">
  <div class="row">
   
      <div class="col-sm-6 col-md-4 footer-navigation">
          <h3><a href="#">نادي الوثبة الرياضي</a></h3>
          <p class="links"><a href="#">الصفحة الرئيسية</a><strong> · </strong><a href="#">الأخبار</a><strong> · </strong><a href="#">المباريات</a><strong> · </strong><a href="#">اللاعبين</a><strong> · </strong></p>
          <p class="company-name">AL-Wathba Sport Club.COM © 2021</p>
      </div>
      <div class="col-sm-6 col-md-4 footer-contacts">
          <div>
            <span class="fa fa-map-marker footer-contacts-icon"></span>
            
              <p><span class="new-line-span"> زكي الارسوزي، حمص،، سوريا</span></p>
          </div>
          <div><i class="fa fa-phone footer-contacts-icon"></i>
              <p class="footer-center-info email text-left "> +963 31 222 4303</p>
          </div>
          <div><i class="fa fa-envelope footer-contacts-icon"></i>
              <p> <a href="#" target="_blank">alwathba@gmail.com</a></p>
          </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-4 footer-about">
          <h4>تواصل معنا</h4>
          
          <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-telegram"></i></a><a href="#"><i class="fa fa-whatsapp"></i></a></div>
      </div>
  </div>
</footer>