<header>
   <div id="indicators" class="carousel slide" data-ride="carousel">
       <ol class="carousel-indicators">
           <li data-target="#indicators" data-slide-to="0" class="active"></li>
           <li data-target="#indicators" data-slide-to="1"></li>
           <li data-target="#indicators" data-slide-to="2"></li>
       </ol>
       <div class="carousel-inner" role="listbox">   
           <!-- Slide One - Set the background image for this slide in the line below -->
           <div class="carousel-item active" style="background-image: url('../../../assets/m.jpg')">
               <div class="carousel-caption  d-md-block">
                   <h2 class="display-4">نادي الوثبة الرياضي</h2>
                   <p class="para">Some Description about the first slide</p>
               </div>
           </div> <!-- Slide Two - Set the background image for this slide in the line below -->
           <div class="carousel-item" style="background-image: url('../../../assets/m.jpg')">
               <div class="carousel-caption d-md-block">
                   <h2 class="display-4">نادي الوثبة الرياضي</h2>
                   <p class="lead">Some description about the second slide</p>
               </div>
           </div> <!-- Slide Three - Set the background image for this slide in the line below -->
           <div class="carousel-item" style="background-image: url('../../../assets/m.jpg')">
               <div class="carousel-caption  d-md-block">
                   <h2 class="display-4">نادي الوثبة الرياضي</h2>
                   <p class="lead">Some description about the third slide</p>
               </div>
           </div>
       </div> <a class="carousel-control-prev" href="#indicators" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="carousel-control-next" href="#indicators" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
   </div>
</header>
<!-- Page Content -->
<section class="py-5">
   <div class="container">
       <h1 class="header">عن الوثبة</h1>
       <p class="info">
           تأسس سنة "1937" تحت أسم "الفداء
           يعتبر النادي من أعرق الأندية السورية تأسس عام 1938 م تحت مسمى نادي الفداء وجاء التأسيس من بعض الشباب من هواة ألعاب القوى وإتخذ من دار الجودي بالحميدية مقراً له وعند تأسيسه مارس لعبة كرة القدم فقط كمنافس لنادي خالد بن الوليد وحمص الأهلي ولم ينل الترخيص إلا عام 1953 م فأضاف لكرة القدم ألعاب كرة السلة و\ألعاب القوى والسباحة والدراجات وحاز على بطولات حمص من عام 1963 إلى عام 1968 م ولعب مع فرق متعددة .
           وبعد إصدار المرسوم الجمهوري رقم 59 عام 1972 م القاضي بدمج أندية ( الفداء - حمص الاهلي - القرية - الطليعة ) لتشكل فريقاً تحت إسم ( نادي الوثبة الرياضي ) وهو كذالك لهذا اليوم .
           وبكل فخر نادي الوثبة أول ممثل لحمص بالدوري السوري الذي إنطلق عام 1973 م .
           ويعتبر الوثبة مدرسة كروية خرجت العيد من الاعبين المتميزين نذكر منه ( البيريني - فؤاد الغرير - عبد العليم كولكو - الدونا - الناصيف - السلقيني - البوارشي - الفرواتي والقائمة تطول ... ) والحديثين امثال ( الشاهرلي - اليوسف - جوخدار - الدروبي - الخلف ... ) والشباب امثال ( الغليوم - الحمود - اليوسف الصغير - مجذوب - الدربي .... ) .
           وقد حقق النادي المركز الثاني بدوري 81 .. ودورة نادي الكرامة .. وبطولة الشباب مرتين
       </p>
       
       

   </div>
</section> 
<script>
   $(function() {
       $(document).scroll(function() {
           var $nav = $("#mainNavbar");
           $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height());
       });
   });
</script> 
