<section class="form1" >
    <div class="card text-center" style="width:30rem;">
      <div class="add-player-logo text-center">
        <img src="../../../assets/logo.png" width="120px" heught="120px" >
    </div>
      <h1 class="card-title">
        إضافة لاعب
      </h1>
      
      <div class="card-body">
        
    
      <form>
      <div class="form-row has-error">
        <div class="form-group col-md-4 mb-3">
          <label for="inputfname">الاسم الأخير</label>
          <input [(ngModel)]="player.LastName" type="text" class="form-control" id="inputfname">
        </div>


        <div  class="form-group col-md-4 mb-3">
          <label for="inputfname">اسم الأب</label>
          <input [(ngModel)]="player.FatherName" type="text" class="form-control" id="inputfname">
        </div>


        <div class="form-group col-md-4 mb-3">
          <label for="inputfname">الاسم الأول</label>
          <input [(ngModel)]="player.FirstName" type="text" class="form-control" id="inputfname">
        </div>


        




      </div>
    <!--************************************-->
    <div class="form-row">
      
      <div class="form-group col-md-4 mb-3">
        <label for="example-date-input">تاريخ الميلاد</label>
          <input [(ngModel)]="player.BirthDate" class="form-control" type="date" value="1999-08-19" id="example-date-input">
      </div> 
    
      <div class="form-group col-md-4 mb-3">
        <label for="inputlname">رقم الهاتف</label>
        <input [(ngModel)]="player.Phone" type="tel" class="form-control" id="inputlname">
      </div>
      
      <div class="form-group col-md-4 mb-3">
        <label for="inputfname">اسم الأم</label>
        <input [(ngModel)]="player.MotherName" type="text" class="form-control" id="inputfname">
      </div>
    </div>
    <!--^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^-->
    <div class="form-row">
      <div class="form-group col-md-4 mb-3">
        <label for="inputState">زمرة الدم</label>
        <select [(ngModel)]="player.Blood"  id="inputState" class="form-control">
          <option selected>AB</option>
          <option>A</option>
          <option>B</option>
          <option>O</option> 
        </select>
      </div>
      <div class="form-group col-md-4 mb-3">
        <label for="inputfname">الوزن</label>
        <input [(ngModel)]="player.Weight" type="text" class="form-control" id="inputfname">
      </div>
      <div class="form-group col-md-4 mb-3">
        <label for="inputfname">الطول</label>
        <input [(ngModel)]="player.Length" type="text" class="form-control" id="inputfname">
      </div>
    </div>
    <!--************************************-->
    <!--^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^-->
    <div class="form-row">
      
      <div class="form-group col-md-4 mb-3">
        <label for="inputfname">العنوان</label>
        <input [(ngModel)]="player.Address" type="text" class="form-control" id="inputfname">
      </div>
    
      
      <div class="form-group col-md-4 mb-3">
        <label for="inputState">مركز اللعب</label>
        <select [(ngModel)]="player.PlayerPosition"  id="inputState" class="form-control">
          <option selected>الهجوم</option>
          <option>الدفاع</option>
          <option>قلب الدفاع</option>
          <option>الظهير</option>
          <option>الوسط</option>
          <option>حراسة المرمى</option>
        </select>
      </div>
    
      <div class="form-group col-md-4 mb-3">
        <label for="inputState">الفئة</label>
        <select  [(ngModel)]="player.CatId" id="inputState" class="form-control">
          <option selected>شباب</option>
          <option>رجال</option>
        </select>
      </div>
    </div>
    <!--************************************-->
    <!--************************************-->
    <div class="form-row">
      <div class="form-group col-md-4 mb-3 custom-file myfile ">
        <label class="custom-file-label" for="customFile">ملف العقد</label>
        
        <input [(ngModel)]="player.File" type="file" class="form-control custom-file-input" id="inputfname">
      </div>
    
      <div class="form-group col-md-4 mb-3">
        <label for="example-date-input">تاريخ نهايةالعقد</label>
          <input [(ngModel)]="player.EndDate" class="form-control" type="date" value="2022-01-01" id="example-date-input">
      </div>
      <div class="form-group col-md-4 mb-3">
        <label for="example-date-input">تاريخ التعيين</label>
          <input [(ngModel)]="player.HirDate" class="form-control" type="date" value="2021-01-01" id="example-date-input">
      </div> 
      </div>
    <!--*************************************-->
    <div class="form-row">
      
      

      <div class="form-group col-md-6 mb-3  ">
        <label for="inputAddress">كلمة المرور</label>
        <input [(ngModel)]="player.Pass" type="password" class="form-control" id="inputAddress" >
      </div>

      <div class="form-group col-md-6 mb-3">
        <label for="inputfname">الرقم الاتحادي</label>
        <input [(ngModel)]="player.PlayerId" type="text" class="form-control" id="inputfname">
      </div>
      
    </div>
      
      
    <button type="button" class="btn btn-danger"
    (click)="onSubmit()"
    >إضافة</button>
        
    
    </form>
    
    
    </div>
    </div>
    </section>
